@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  transition: background-color 0.3s, color 0.3s;
}

.input-field {
  @apply border border-gray-300 dark:border-gray-600 rounded-lg p-2 bg-white dark:bg-gray-900 text-gray-800 dark:text-gray-100 focus:ring-2 focus:ring-blue-500 focus:outline-none transition;
}
